In [8]:
-- xem bảng Customers
SELECT * FROM Customers;

id,name
1,Joe
2,Herry
3,Sam
4,Max

In [9]:
-- xem bảng Orders
SELECT * FROM Orders;

id,customerId
1,3
2,1

In [ ]:
-- Cho 2 bảng như trên
-- tìm tất cả những customers mà chưa bao giờ Order lần nào?

In [19]:
-- 
SELECT 
-- Customers.id, Customers.name, Orders.id, Orders.customerId 
*
FROM Customers
LEFT JOIN Orders
ON Customers.id = Orders.customerId
WHERE Orders.id is NULL

id,name,id,customerId
2,Herry,NULL,NULL
4,Max,NULL,NULL