In [2]:
USE SQLDBQuery;
CREATE TABLE Customers (
    id INT,
    name NVARCHAR(30)

)

In [3]:
INSERT INTO Customers
VALUES 
(1, N'Joe')

INSERT INTO Customers
VALUES 
(2, N'Herry')

INSERT INTO Customers
VALUES 
(3, N'Sam')

INSERT INTO Customers
VALUES 
(4, N'Max')

In [4]:
SELECT * FROM Customers;

id,name
1,Joe
2,Herry
3,Sam
4,Max

In [5]:
CREATE TABLE Orders (
    id INT,
    customerId INT
)

In [6]:
-- thêm order vào bản Orders
INSERT INTO Orders 
VALUES
(
    1,
    3
)

INSERT INTO Orders 
VALUES
(
    2,
    1
)

In [7]:
-- xem bảng Orders
SELECT * FROM Orders;

id,customerId
1,3
2,1

In [5]:
USE SQLDBQuery;
SELECT name as customer FROM Customers
WHERE id NOT IN (
    SELECT customerId FROM Orders
)

customer
Herry
Max